.mainbox{
    height: 300px;
    width: 350px;
    /* border: 1px solid white; */
    color: white;
    margin: 20px 5px;
    overflow:hidden;
}
.mainbox:hover{
    cursor: pointer;
}

.thumbnail{
    height: 67%;
    width: 100%;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 15px;
    overflow: hidden;

}
.thumbnail:hover{
    border-radius: 0px;
    transition: .5s;
}
.thumbnail-img{
    height: 100%;
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box;
}
.mainheading{
    height: 20%;
    width: 100%;
    /* border: 1px solid rgb(46, 23, 23); */
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    
}
.channel-logo{
    background-image: url(/src/images/user.png);
    background-size:40px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 50px;
    border: none;
    overflow: hidden;
    border-radius: 50%;
    
}
.channel-logo{
    background-size:40px;
    background-repeat: no-repeat;
    background-position: center;
    
    height: 40px;
    width: 40px;
    border: none;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}
.logo{
    height: 40px;
    width: 40px;
    background-size: 40px;
}
.video-heading{
    width: 85%;
    max-height:84%;
    font-size: large;
    padding: 5px 10px;
    overflow-y: hidden;
}

.channelname {
    padding-left: 16%;
}
.viewtime{
    padding-left: 16%;
}
